.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1) scaleX(1);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(-0.5) scaleX(0);
}
.modal__title {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--primary-title-color);
}

.modal__form {
  width: 100%;
}
.modal__item {
  display: block;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.modal__input {
  width: 100%;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: var(--accent-color);
  @include transitionSet(border-color);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__icone {
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: 12px;
  fill: var(--primary-title-color);
  @include transitionSet(fill);
  .modal__input:hover ~ &,
  .modal__input:focus ~ & {
    fill: var(--accent-color);
  }
}

.modal__comment-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal__comment {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  @include transitionSet(border-color);
  outline: var(--accent-color);
  margin-bottom: 20px;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
}

.checkbox__label .checkbox__cover {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-title-color);
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}
.checkbox__input:checked + .checkbox__label .checkbox__cover {
  background-color: var(--accent-color);
  border: none;
  fill: var(--white-color);
}
.checkbox__link {
  position: relative;
  display: inline-block;
  color: var(--accent-color);
  text-decoration: none;
  margin-left: 5px;
  &::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 5px;
    left: 0;
  }
}

.modal__button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  min-width: 200px;
  height: 50px;
  padding: 10px 52px;
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  @include transitionSet(backgroun-color);
  &:hover,
  &:focus {
    background-color: var(--active-button-color);
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
}
.close-button__icon {
  fill: var(--black-color);
  @include transitionSet(fill);
.close-button:hover &,
.close-button:focus & {
  fill: var(--accent-color);
}
}
