body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--white-color);
    color: var(--primary-text-color);
  }

  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }