:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --accent-color: #2196f3;
    --active-button-color: #188cef;
    --primary-text-color: #757575;
    --primary-title-color: #212121;
    --footer-bcg-color: #2f303a;
    --section-team-bcg-color: #f5f4fa;
    --address-footer-color: rgba(255, 255, 255, 0.6);
    --primary-icon-color: #afb1b8;
  }