.preference {
  padding-top: 94px;
  padding-bottom: 94px;
}
.preference__list {
  display: flex;
  gap: 30px;
  list-style: none;
}
.preference__item {
  flex-basis: calc((100% - 90px) / 4);
  &::before {
    margin-bottom: 30px;
    display: block;
    height: 120px;
    content: "";
    background-color: var(--section-team-bcg-color);
    background-position: center;
    background-repeat: no-repeat;
    block-size: contain;
  }
  &:nth-child(1)::before {
    background-image: url(../images/attention.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/punctuality.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/planning.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../images/technology.svg);
  }
}

.preference__title {
  margin-bottom: 10px;
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.14;
}
.preference__text {
  line-height: 1.71;
}
